# Playing with pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.Series([1,2,3,4])

In [3]:
df

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
#Read csv
df = pd.read_csv('Car_sales.csv')

In [5]:
#First 5 rows default
df.head()

,Manufacturer,Model,Sales in thousands,4-year resale value,Vehicle type,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch
0,Acura,Integra,16.919,16.36,Passenger,21.5,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2-Feb-14
1,Acura,TL,39.384,19.875,Passenger,28.4,3.2,225,108.1,70.3,192.9,3.517,17.2,25,6-Mar-15
2,Acura,CL,14.114,18.225,Passenger,.,3.2,225,106.9,70.6,192,3.47,17.2,26,1-Apr-14
3,Acura,RL,8.588,29.725,Passenger,42,3.5,210,114.6,71.4,196.6,3.85,18,22,3-Oct-15
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150,102.6,68.2,178,2.998,16.4,27,10-Aug-15

In [6]:
#Last 5 rows
df.tail()

,Manufacturer,Model,Sales in thousands,4-year resale value,Vehicle type,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch
152,Volvo,V40,3.545,.,Passenger,24.4,1.9,160,100.5,67.6,176.6,3.042,15.8,25,21-Sep-15
153,Volvo,S70,15.245,.,Passenger,27.5,2.4,168,104.9,69.3,185.9,3.208,17.9,25,24-Nov-14
154,Volvo,V70,17.531,.,Passenger,28.8,2.4,168,104.9,69.3,186.2,3.259,17.9,25,25-Jun-15
155,Volvo,C70,3.493,.,Passenger,45.5,2.3,236,104.9,71.5,185.7,3.601,18.5,23,26-Apr-15
156,Volvo,S80,18.969,.,Passenger,36,2.9,201,109.9,72.1,189.8,3.6,21.1,24,14-Nov-15

In [7]:
#Data types of all values
df.dtypes

Manufacturer            object
Model                   object
Sales in thousands     float64
4-year resale value     object
Vehicle type            object
Price in thousands      object
Engine size             object
Horsepower              object
Wheelbase               object
Width                   object
Length                  object
Curb weight             object
Fuel capacity           object
Fuel efficiency         object
Latest Launch           object
dtype: object

In [8]:
df.describe()

       Sales in thousands
count          157.000000
mean            52.998076
std             68.029422
min              0.110000
25%             14.114000
50%             29.450000
75%             67.956000
max            540.561000

In [9]:
#Print all columns of the dataframe
df.columns

Index(['Manufacturer', 'Model', 'Sales in thousands', '4-year resale value',
       'Vehicle type', 'Price in thousands', 'Engine size', 'Horsepower',
       'Wheelbase', 'Width', 'Length', 'Curb weight', 'Fuel capacity',
       'Fuel efficiency', 'Latest Launch'],
      dtype='object')

In [10]:
#View single column
df['Manufacturer']

0      Acura
1      Acura
2      Acura
3      Acura
4      Audi
           ...
152    Volvo
153    Volvo
154    Volvo
155    Volvo
156    Volvo
Name: Manufacturer, Length: 157, dtype: object

In [11]:
#Unique values in the column
df['Manufacturer'].unique()

array(['Acura        ', 'Audi         ', 'BMW          ', 'Buick        ',
       'Cadillac     ', 'Chevrolet    ', 'Chrysler     ', 'Dodge        ',
       'Ford         ', 'Honda        ', 'Hyundai      ', 'Infiniti     ',
       'Jaguar       ', 'Jeep         ', 'Lexus        ', 'Lincoln      ',
       'Mitsubishi   ', 'Mercury      ', 'Mercedes-Benz', 'Nissan       ',
       'Oldsmobile   ', 'Plymouth     ', 'Pontiac      ', 'Porsche      ',
       'Saab         ', 'Saturn       ', 'Subaru       ', 'Toyota       ',
       'Volkswagen   ', 'Volvo        '], dtype=object)

In [12]:
#Check how many null values each column has
df.isnull().sum()

Manufacturer           0
Model                  0
Sales in thousands     0
4-year resale value    0
Vehicle type           0
Price in thousands     0
Engine size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb weight            0
Fuel capacity          0
Fuel efficiency        0
Latest Launch          0
dtype: int64

In [13]:
#Rename a column
df.rename(columns = {'Price in thousands':'Price'},inplace = True)

In [14]:
#See reflected changes
df.head()

,Manufacturer,Model,Sales in thousands,4-year resale value,Vehicle type,Price,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch
0,Acura,Integra,16.919,16.36,Passenger,21.5,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2-Feb-14
1,Acura,TL,39.384,19.875,Passenger,28.4,3.2,225,108.1,70.3,192.9,3.517,17.2,25,6-Mar-15
2,Acura,CL,14.114,18.225,Passenger,.,3.2,225,106.9,70.6,192,3.47,17.2,26,1-Apr-14
3,Acura,RL,8.588,29.725,Passenger,42,3.5,210,114.6,71.4,196.6,3.85,18,22,3-Oct-15
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150,102.6,68.2,178,2.998,16.4,27,10-Aug-15

In [15]:
df[df['Price']=="."] = np.nan
#As there are some "." which are strings and can't be converted to float

In [16]:
#Convert to float to calc sum
df['Price'] = df['Price'].astype(float)

In [17]:
#Sum of the column
df['Price'].sum()

4245.567000000001

In [18]:
df['Vehicle type'].unique()

array(['Passenger', nan, 'Car'], dtype=object)

In [19]:
df['Vehicle type']

0      Passenger
1      Passenger
2            NaN
3      Passenger
4      Passenger
         ...
152    Passenger
153    Passenger
154    Passenger
155    Passenger
156    Passenger
Name: Vehicle type, Length: 157, dtype: object

In [20]:
type(df['Vehicle type'][2])

float

In [21]:
df['Vehicle type'] = df['Vehicle type'].astype(str)

In [22]:
del df['Vehicle type'][2]

In [23]:
df['Vehicle type']

0      Passenger
1      Passenger
3      Passenger
4      Passenger
5      Passenger
         ...
152    Passenger
153    Passenger
154    Passenger
155    Passenger
156    Passenger
Name: Vehicle type, Length: 156, dtype: object

In [24]:
df.to_csv('Modified_car.csv')